header {
    width: 100%;
    height: 4em;
    border: 1px solid black;
    background-color: #778899;

    ul {
        display: flex;
        justify-content: space-around;

        li {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 20px;
            width: 10%;
            
            a {
                text-decoration: none;
                color: black;
                cursor: pointer;
            }

            a:hover {
                color: #2F4F4F;
            }
        }
    }
}
